<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        <h1><%= t 'app.hotelier_new.title' %></h1>
      </div>
    </header>
    <div class="card-content">
      <div class="field is-horizontal">
        <div class="field-label">
          <%= render "form", hotelier: @hotelier %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to t('app.hotelier_new.back'), hoteliers_path %>
  </div>
</section>
