<%= render @hotelier %>

<div>
  <%= link_to t('app.hotelier_show.back'), hoteliers_path %>
  <% if user_signed_in? && current_user %>
    <%= link_to t('app.hotelier_show.edit'), edit_hotelier_path(@hotelier) %> |
    <%= button_to t('app.hotelier_show.delete'), @hotelier, method: :delete,
                    form: { data: { turbo_confirm: t('app.hoteliers_controller.notice_delete') } } %>
  <% end %>
</div>
