<h1> <%= t('app.room_edit.title') %> </h1>

<%= render "form", room: @room %>

<br>

<div>
  <%= link_to t('app.room_edit.show'), @room %> |
  <%= link_to t('app.room_edit.back'), rooms_path %>
</div>
