<section class="section is-main-section">
  <div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
        <h1>Editar Estrutura</h1>
      </div>
    </header>
    <div>
      <%= render "form", photo: @photo %>
    </div>
  </div>
</section>





