<h1><%= t('app.structure_edit.title') %></h1>

<%= render "form", photo: @photo %>

<br>

<div>
  <%= link_to t('app.structure_edit.show'), @photo %> |
  <%= link_to t('app.structure_edit.back'), photos_path %>
</div>
