<section class="section is-main-section">

  <div class="card">

    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-home"></i></span>
        <h1><%= "Nova Estrutura" %></h1>
      </div>
    </header>

    <div class="card-content">
      <div class="field is-horizontal">
        <div class="field-label">
          <%= render "form", photo: @photo %>
        </div>
      </div>
    </div>

  </div>


</section>


