<section class="section is-main-section" xmlns="http://www.w3.org/1999/html">
  <div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
        <h1>Estrutura</h1>
      </div>
      <a href="#" class="card-header-icon">
        <span class="icon"><i class="mdi mdi-reload"></i></span>
      </a>
    </header>
    <div class="field is-horizontal">
      <div class="field-label is-normal ">
        <label class="label">Descrição</label>
      </div>
      <div class="field-body">
        <div class="field">
          <%= text_field_tag :name, @photo.description, class: "input", type: "text", disabled: true %>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Imagens</label>
      </div>
      <div class="field-body">
        <div class=" field">
          <% @photo.images.each do |image| %>
            <%= image_tag image, class: 'image-size image is-96x96' %>
          <% end %>
        </div>
      </div>
    </div>
    <a class="button is-primary">Voltar</a>
  </div>
</section>
