<div class="container is-align-content-center mt-4">
  <h1 class="is-size-3 has-text-centered"><%= t'app.edit.title' %></h1>

  <%= render "form", establishment: @establishment %>

  <div>
    <%= link_to t('app.edit.show'), @establishment %> |
    <%= link_to t('app.edit.back'), establishments_path %>
  </div>

</div>
