<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        <h1><%= t('app.new.title') %></h1>
      </div>
    </header>
    <div class="card-content">
      <form method="get">
        <div class="field is-horizontal">
          <div class="field-label">
            <%= render "form", establishment: @establishment %>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    <%= link_to t('app.show.back'), establishments_path %>
  </div>
</section>
